a{
    color: blue;
    padding:0 3%;

}
div {
    display:flex ;
    
}

.faw{
    display: flex ;
    font-size: 30px;
    
}
.fa-heart{
    padding : 0 7%;
}
.cards{
    margin-top:5%;  
    display:flex;
  
  
}
.fa-cart-plus{
    font-size: 30px;
}
.price{
    display: flex;
    font-size: 30px;
    justify-content: center;
    padding: 7% 0;
    justify-content: space-around;
}
.shopping-card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    border-radius: 10px;
    padding: 3%;
    margin: 50px 0;
  }

.total-price span {
  font-size: 30px;
  align-items: center;

}

.total {
  font-weight: bold;}
  .card-tex{
      display:flex
  }